*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fontstyle */
.font-style{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
/* logo */
.logo h2{
    font-size: 40px;
    font-weight: extra-bold;
}
.logo:hover{
    cursor: pointer;
}   
.color-palette{
    color:#FD6E0A
}
/* header */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
/* nav */
nav{
    width:80%;
    max-width: 1400px;
    /* border:solid 1px red; */
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
nav .menu {
    display:flex;
    list-style-type: none;
    gap: 30px;
    font-size: 20px;
    align-items: center;

}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747
}
.btn{
    background-color: #FD6E0A;
    border: none;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}
.btn:hover{
    /* background-color: #df5e08; */
    cursor: pointer;
    box-shadow: #9e0707 2px 2px 10px;
    text-align: justify;
}
